{{- if .Values.worker.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ printf "%s-worker" (include "cube.fullname" .) }}
  labels:
    {{- include "cube.labels" . | nindent 4 }}
    {{- if .Values.commonLabels }}
    {{- toYaml .Values.commonLabels | nindent 4 }}
    {{- end }}
  {{- if .Values.commonAnnotations }}
  annotations:
    {{- toYaml .Values.commonAnnotations | nindent 4 }}
  {{- end }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: worker
      {{- include "cube.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: worker
        {{- include "cube.selectorLabels" . | nindent 8 }}
        {{- if .Values.commonLabels }}
        {{- toYaml .Values.commonLabels | nindent 8 }}
        {{- end }}
      {{- if .Values.commonAnnotations }}
      annotations:
      {{- toYaml .Values.commonAnnotations | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.securityContext.enabled }}
      securityContext:
        runAsUser: {{ .Values.securityContext.runAsUser }}
        fsGroup: {{ .Values.securityContext.fsGroup }}
      {{- end }}
      serviceAccountName: {{ template "cube.worker.serviceAccountName" . }}
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.config.initContainers }}
      initContainers:
        {{- toYaml .Values.config.initContainers | nindent 8 }}
      {{- end }}
      containers:
        - name: cube
          {{- if .Values.image.tag }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          {{- else }}
          image: "{{ .Values.image.repository }}:v{{ .Chart.AppVersion }}"
          {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy | quote }}
          ports:
            - name: http
              containerPort: {{ .Values.config.apiPort }}
              protocol: TCP
          env:
            {{- include "cube.env" . | nindent 12 }}
            - name: CUBEJS_REFRESH_WORKER
              value: "true"
            {{- if .Values.extraEnvVars }}
            {{- include "cube.tplvalues.render" (dict "value" .Values.extraEnvVars "context" $) | nindent 12 }}
            {{- end }}
          {{- if or .Values.extraEnvVarsFromConfigMap .Values.extraEnvVarsFromSecret }}
          envFrom:
            {{- if .Values.extraEnvVarsFromConfigMap }}
            - configMapRef:
                name: {{ include "cube.tplvalues.render" (dict "value" .Values.extraEnvVarsFromConfigMap "context" $) }}
            {{- end }}
            {{- if .Values.extraEnvVarsFromSecret }}
            - secretRef:
                name: {{ include "cube.tplvalues.render" (dict "value" .Values.extraEnvVarsFromSecret "context" $) }}
            {{- end }}
          {{- end }}
          {{- if .Values.worker.livenessProbe.enabled }}
          livenessProbe:
            initialDelaySeconds: {{ .Values.worker.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.worker.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.worker.livenessProbe.timeoutSeconds }}
            successThreshold: {{ .Values.worker.livenessProbe.successThreshold }}
            failureThreshold: {{ .Values.worker.livenessProbe.failureThreshold }}
            httpGet:
              path: /livez
              port: http
          {{- else if .Values.worker.customLivenessProbe }}
          livenessProbe:
            {{- toYaml .Values.worker.customLivenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.worker.readinessProbe.enabled }}
          readinessProbe:
            initialDelaySeconds: {{ .Values.worker.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.worker.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.worker.readinessProbe.timeoutSeconds }}
            successThreshold: {{ .Values.worker.readinessProbe.successThreshold }}
            failureThreshold: {{ .Values.worker.readinessProbe.failureThreshold }}
            httpGet:
              path: /readyz
              port: http
          {{- else if .Values.worker.customReadinessProbe }}
          readinessProbe:
            {{- toYaml .Values.worker.customReadinessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.worker.resources }}
          resources:
            {{- toYaml .Values.worker.resources | nindent 12 }}
          {{- end }}
          {{- if .Values.config.volumeMounts }}
          volumeMounts:
            {{- toYaml .Values.config.volumeMounts | nindent 12 }}
          {{- end }}
      {{- if .Values.worker.affinity }}
      affinity:
        {{- toYaml .Values.worker.affinity | nindent 8 }}
      {{- end }}
      {{- if .Values.worker.tolerations }}
      tolerations:
        {{- toYaml .Values.worker.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.worker.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.worker.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.worker.spreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml .Values.worker.spreadConstraints | nindent 8 }}
      {{- end }}
      {{- if .Values.config.volumes }}
      volumes:
        {{- toYaml .Values.config.volumes | nindent 8 }}
      {{- end }}

{{- end }}
